<form [formGroup]="postForm" (ngSubmit)="onSubmit(postForm.value)">
  <mat-form-field appearance="fill">
    <mat-label>User ID</mat-label>
    <input matInput formControlName="userId" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Body</mat-label>
    <input matInput formControlName="body" />
  </mat-form-field>
  <button>Submit</button>
</form>
