.mat-header-cell {
  width: 250px;
}

.mat-cell {
  width: 250px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-container div {
  font-size: 1.2rem;
  font-weight: 500;
}

.no-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}

.main-container {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

.main-container mat-icon {
  scale: 1.2;
}

.main-container .title {
  font-size: 1.2rem;
  line-height: normal;
}
