.container {
  width: 100%;
  height: 1000px;
  margin-left: calc(50% - 8rem);
}
.langContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.formContainer {
  width: 100%;
  margin: auto;
}

.mat-form-field {
  width: 20%;
}
