mat-toolbar {
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.title-wrapper {
  margin-left: 3rem;
}

.btn-wrapper {
  display: flex;
  gap: 1rem;
  margin-right: 3rem;
}

.wrapper a {
  text-decoration: none;
  color: white !important;
}

mat-toolbar button {
  font-size: 1.2rem;
  color: #0098db;
}

mat-toolbar button:hover {
  background-color: white;
}

.border {
  border: 1px solid white;
}
