<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <nav class="navbar">
      <a class="nav-item" routerLink="/movies" routerLinkActive="active"
        >Movies
      </a>
      <a class="nav-item" routerLink="/actors" routerLinkActive="active"
        >Actors
      </a>
      <a class="nav-item" routerLink="/about" routerLinkActive="active"
        >About
      </a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
