.app-container {
  position: relative;
  z-index: 999;
}

mat-toolbar {
  height: 4rem;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.nav-wrapper a {
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
}

.nav-wrapper a:hover {
  transition: 0.4s;
  background-color: white;
  color: black;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.lang-container {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.lang-wrapper {
  font-size: 0.8rem;
  display: flex;
  gap: 1rem;
}

.lang-wrapper div {
  font-size: 1rem;
  display: flex;
  gap: 1rem;
}

.parent-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
