<mat-toolbar>
  <div class="wrapper">
    <a [routerLink]="['']">ZettaCafe</a>
  </div>
  <div class="wrapper btn-wrapper">
    <button mat-button [routerLink]="['']">Home</button>
    <button mat-button [routerLink]="['menu']">Menu</button>
    <button class="border" mat-button [routerLink]="['login']">Login</button>
    <button
      mat-button
      *ngFor="let menu of menus"
      [routerLink]="[menu?.routing]"
    >
      {{ menu?.name }}
    </button>
  </div>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>
