.app-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

mat-toolbar {
  height: 5 rem;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.title-wrapper {
  margin-left: 5rem;
}

.title-wrapper a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.title-wrapper a:hover {
  transition: 0.4s;
  background-color: white;
  color: #3f51b5;
}

.nav-wrapper {
  margin-right: 5rem;
}

.nav-wrapper a {
  font-size: 1.1rem;
  font-weight: 500;
}

.nav-wrapper a:hover {
  transition: 0.4s;
  background-color: #3f51b5;
  color: white;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
