.container {
  position: absolute;
  z-index: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: url(https://images.pexels.com/photos/11135641/pexels-photo-11135641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)
    no-repeat;
  background-size: cover;
}

table {
  width: 100%;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-field {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.name-field button {
  background: transparent;
  border: none;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.name-field button:hover {
  transition: 0.1s;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  scale: 1.1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.btn-container {
  margin-bottom: 1rem;
}

.mat-cell {
  background-color: transparent !important;
  width: 250px;
  color: black;
  font-size: 1rem;
}

.mat-header-cell {
  background-color: transparent !important;
  font-size: 0.8rem;
}

.actions button {
  margin: 0 0.5rem;
}
