<div class="container">
  <mat-dialog-content [formGroup]="menuForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="recipe_name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input
        type="number"
        matInput
        placeholder="Stock"
        formControlName="price"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Image Link</mat-label>
      <input
        type="url"
        matInput
        placeholder="Image Link"
        formControlName="link_recipe"
      />
    </mat-form-field>
    <div formArrayName="ingredients">
      <div
        *ngFor="let ingredient of ingredients.controls; let i = index"
        [formGroupName]="i"
      >
        <mat-form-field appearance="fill">
          <mat-label>name</mat-label>
          <mat-select formControlName="ingredient_id">
            <mat-option
              *ngFor="let ingredient of allIngredients"
              [value]="ingredient._id"
            >
              {{ ingredient.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- mat auto complete -->
        <!-- <mat-form-field appearance="fill">
          <mat-label>name</mat-label>
          <input
            type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            formControlName="ingredient_id"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let ingredient of allIngredients"
              [value]="ingredient._id"
            >
              {{ ingredient.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
        <!-- mat auto complaet -->
        <mat-form-field appearance="fill">
          <mat-label>Stock Used</mat-label>
          <input matInput formControlName="stock_used" />
        </mat-form-field>
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="removeIngredient(i)"
        >
          Delete Ingredient
        </button>
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="addIngredient()"
    >
      Add More ingredient
    </button>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClose()">Close</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!menuForm.valid"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </mat-dialog-actions>
</div>
