<div class="language">
  <mat-form-field appearance="outline">
    <mat-label>Language</mat-label>
    <mat-select
      [(value)]="selectedLang"
      #lang
      (valueChange)="setLanguage(lang.value)"
    >
      <mat-option value="en">English</mat-option>
      <mat-option value="id">Indonesian</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>{{ "userForm._id" | translate }}</mat-label>
    <input matInput formControlName="_id" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ "userForm.name" | translate }}</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ "userForm.age" | translate }}</mat-label>
    <input matInput formControlName="age" />
  </mat-form-field>
  <mat-radio-group aria-label="Select an option" formControlName="gender">
    <mat-label>{{ "userForm.gender" | translate }}</mat-label>
    <mat-radio-button value="Male">{{
      "gender.male" | translate
    }}</mat-radio-button>
    <mat-radio-button value="Female">{{
      "gender.female" | translate
    }}</mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="fill">
    <mat-label>{{ "userForm.email" | translate }}</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ "userForm.position" | translate }}</mat-label>
    <mat-select formControlName="position">
      <mat-option value="Frontend Developer">Frontend Developer</mat-option>
      <mat-option value="Backend Developer">Backend Developer</mat-option>
      <mat-option value="Mobile Developer">Mobile Developer</mat-option>
      <mat-option value="Quality Assurance">Quality Assurance</mat-option>
      <mat-option value="Data Scientist">Data Scientist</mat-option>
      <mat-option value="UI Design">UI Design</mat-option>
      <mat-option value="UX Researcher">UX Researcher</mat-option>
      <mat-option value="IT Support">IT Support</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ "userForm.maritalStatus" | translate }}</mat-label>
    <mat-select formControlName="maritalStatus">
      <mat-option value="Married">{{
        "userForm.married" | translate
      }}</mat-option>
      <mat-option value="Single">{{
        "userForm.single" | translate
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <form action="" formGroupName="addresses">
    <mat-form-field appearance="fill">
      <mat-label>{{ "userForm.address" | translate }}</mat-label>
      <input matInput formControlName="address" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "userForm.zipCode" | translate }}</mat-label>
      <input matInput formControlName="zipCode" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "userForm.city" | translate }}</mat-label>
      <input matInput formControlName="city" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "userForm.country" | translate }}</mat-label>
      <input matInput formControlName="country" />
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary">
    {{ "actions.submit" | translate }}
  </button>
  <!-- <button mat-raised-button color="primary" (click)="onReset()">Reset</button> -->
</form>
