h1 {
  text-align: center;
  margin: 2rem;
  color: #3f51b5;
  font-weight: 700;
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.listContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

app-user-card {
  width: calc(50% - 3rem);
}

.container button {
  text-align: center;
}
