.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.btnContainer {
  margin-top: 2rem;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  width: 30%;
}
