* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  width: 100%;
}

.titleContainer h2 {
  font-size: 35px;
  text-align: center;
  margin: 30px;
  color: #18215e;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  gap: 1rem;
}

.card {
  border: 1px solid black;
  box-shadow: 0 5px 20px rgb(0 0 0 / 0.2);
  border-radius: 20px;
  width: 30vw;
}

.cardTitle {
  text-align: center;
}

.cardTitle h4 {
  font-size: 20px;
}

.cardContent {
  padding: 20px;
}

.cardImage {
  width: 100%;
  padding: 10px;
  text-align: center;
}

img {
  width: 300px;
}

.cardDesc {
  margin-top: 10px;
  height: 150px;
}

.cardDesc p {
  text-align: justify;
}

.button {
  text-align: center;
}

.btn {
  background-color: #263492;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  width: 50%;
  font-weight: bold;
}

.btn:hover {
  transform: scale(1.02);
  background-color: #18215e;
}

button::after {
  content: '\2192';
  padding-left: 20px;
  font-size: larger;
}
.footContainer {
  width: 100%;
  height: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #18215e;
  position: relative;
  bottom: 50;
}

.footContainer ul {
  display: flex;
  justify-content: center;
}

.footContainer ul li {
  margin: auto 10px;
  font-size: 20px;
  list-style-type: none;
  color: white;
}

.footContainer ul li a {
  text-decoration: none;
  color: white;
}

.footContainer ul li a:hover {
  color: #c2b1f5;
}
