<div class="container">
  <div class="img-wrapper">
    <div class="icon-wrapper">
      <a (click)="onAddToCart(recipe)"><mat-icon>shopping_cart</mat-icon></a>
    </div>
    <img [src]="recipe.link_recipe" alt="menu {{ recipe.recipe_name }}" />
  </div>
  <div class="main-wrapper">
    <div class="desc-wrapper">
      <div class="first-desc">
        {{ recipe.recipe_name }}
      </div>
      <div class="second-desc line-through">
        {{ recipe.price | currency : "Rp. " }}
      </div>
    </div>
    <div class="subdesc-wrapper">
      {{ recipe.discount_price | currency : "Rp. " }}
    </div>
  </div>
</div>

<!-- ASLINYAAAA -->
<!-- <div class="container">
  <div class="img-wrapper">
    <img [src]="recipe.link_recipe" alt="" />
  </div>
  <div class="content-wrapper">
    <div class="title-wrapper">
      <mat-card-title>{{ recipe.recipe_name }}</mat-card-title>
    </div>
    <div class="subtitle-wrapper">
      <mat-card-subtitle
        *ngIf="recipe.discount > 0"
        [ngClass]="recipe.discount > 0 ? 'stroke' : ''"
        >{{ recipe.price | currency: "Rp. " }}</mat-card-subtitle
      >
      <mat-card-subtitle>{{
        recipe.discount_price | currency: "Rp. "
      }}</mat-card-subtitle>
    </div>
  </div>
  <div class="btn-wrapper">
    <div class="sold-out" *ngIf="isNotAvailableStock || isStockUsed">
      <h3>{{ "menu.sold" | translate }}</h3>
    </div>
    <div>
      <h3>{{ isAvailibility }}</h3>
    </div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="isNotAvailableStock || !isToken || isStockUsed"
      (click)="onAddToCart(recipe)"
    >
      {{ "menu.btn" | translate }}
    </button>
  </div>
</div> -->
