.example-card {
  max-width: 200px;
  height: 400px;
}
.img-wrapper {
  padding: 10px;
}

.img-wrapper img {
  height: 100px;
}

mat-card-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.2rem;
}
