<div class="container">
  <div class="img-wrapper">
    <img [src]="recipe.link_recipe" alt="" />
  </div>
  <div class="content-wrapper">
    <div class="title-wrapper">
      <mat-card-title>{{ recipe.recipe_name }}</mat-card-title>
    </div>
    <div class="subtitle-wrapper">
      <mat-card-subtitle>{{
        recipe.price | currency: "Rp. "
      }}</mat-card-subtitle>
    </div>
  </div>
  <div class="btn-wrapper">
    <div class="sold-out" *ngIf="isNotAvailableStock && isToken">
      <h3>Sold Out</h3>
    </div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="isNotAvailableStock || !isToken"
      (click)="onAddToCart(recipe)"
    >
      Add to Cart
    </button>
  </div>
</div>
