.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  background-color: #eee9e9;
  border-radius: 10%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 220px;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.container .img-wrapper {
  position: relative;
  height: fit-content;
  bottom: 50px;
  width: 150px;
  margin: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.container .img-wrapper .icon-wrapper {
  background-color: #000;
  cursor: pointer;
  position: relative;
  top: 50px;
  left: 110px;
  color: #fff;
  width: fit-content;
  padding: 8px;
  border-radius: 50px 50px 100px 50px;
  -webkit-border-radius: 50px 50px 100px 50px;
  -moz-border-radius: 50px 50px 100px 50px;
  -ms-border-radius: 50px 50px 100px 50px;
  -o-border-radius: 50px 50px 100px 50px;
}

.container .img-wrapper .icon-wrapper button {
  background-color: transparent;
  border: none;
  color: #fff;
}

.container .img-wrapper img {
  width: 100%;
}

.line-through {
  text-decoration: line-through;
  font-size: 0.6rem !important;
}

.container .main-wrapper {
  padding: 20px;
  position: relative;
  bottom: 50px;
}

.container .main-wrapper .desc-wrapper {
  margin-bottom: 20px;
}

/* ASLINYAAA */
/* .container {
  width: 250px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 40px;
  position: relative;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.img-wrapper {
  height: 150px;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  scale: 1;
}

.content-wrapper {
  padding: 10px;
}

.stroke {
  text-decoration: line-through;
  font-size: 0.8rem;
}

.subtitle-wrapper {
  display: flex;
  flex-direction: column;
}

.content-wrapper mat-card-title,
.content-wrapper mat-card-subtitle {
  color: white;
}

.content-wrapper mat-card-title {
  font-size: 1.2rem;
}

.btn-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.btn-wrapper .sold-out {
  padding: 16px 0 0 10px;
  color: #c50300;
}

.sold-out h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.btn-wrapper button {
  width: 100%;
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}

.btn-wrapper button:disabled {
  background-color: #555;
} */
