<div class="container">
  <div class="first-container">
    <div class="wrapper">
      <div class="title-wrapper">
        <p class="title">it's not just Food, It's an Experience</p>
        <p class="subtitle">it's not just Food, It's an Experience</p>
      </div>
      <div class="btn-wrapper">
        <button mat-raised-button color="warn" (click)="onMenu()">
          View Menu
        </button>
        <button mat-raised-button (click)="onOrder()">Order Now</button>
      </div>
    </div>
    <div class="wrapper">
      <div class="img-wrapper">
        <img [src]="oneMenuHighligth?.link_recipe" alt="Menu highligth" />
      </div>
    </div>
  </div>
  <div class="second-container">
    <div class="wrapper">
      <div class="offer-wrapper">
        <div class="card" *ngFor="let recipe of specialOffer">
          <div class="img-wrapper">
            <div class="cart-wrapper">
              <button (click)="onAddToCart(recipe)" matTooltip="Add to cart">
                <mat-icon>add_shopping_cart</mat-icon>
              </button>
            </div>
            <div class="disc-wrapper">
              <p>{{ recipe.discount }}%</p>
            </div>
            <img
              [src]="recipe.link_recipe"
              alt="menu {{ recipe.recipe_name }}"
            />
          </div>
          <div class="main-wrapper">
            <div class="desc-wrapper">
              <div class="first-desc">
                {{ recipe.recipe_name }}
              </div>
              <div class="second-desc line-through">
                {{ recipe.price | currency : "Rp. " }}
              </div>
            </div>
            <div class="subdesc-wrapper">
              {{ recipe.discount_price | currency : "Rp. " }}
            </div>
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <a (click)="onMenu()">See other menu discounts &rarr;</a>
      </div>
    </div>
  </div>
</div>
