<div class="container">
  <div class="wrapper side-content"></div>
  <div class="wrapper main-content">
    <h1>ZettaCafe</h1>
    <h4>Fell the taste of Indonesian foods</h4>
    <p>
      Feel the taste of most populars Indonesian foods from anywhere and anytime
    </p>
    <div class="btn-wrapper">
      <button mat-raised-button color="primary" (click)="onMenu()">
        View Menu
      </button>
      <button mat-raised-button color="primary" (click)="onLogin()">
        Order Now
      </button>
    </div>
  </div>
</div>
