<div class="container">
  <div class="wrapper side-content"></div>
  <div class="wrapper main-content">
    <h1 class="title">ZettaCafe</h1>
    <h4 class="subtitle">Fell the taste of Japanese foods</h4>
    <p class="description">
      Feel the taste of most populars Japanese foods from anywhere and anytime
    </p>
    <div class="btn-wrapper">
      <button class="btn" mat-raised-button (click)="onMenu()">
        View Menu
      </button>
      <button class="btn" mat-raised-button color="primary" (click)="onLogin()">
        Order Now
      </button>
    </div>
  </div>
</div>
