.container {
  width: 100%;
  height: 100%;
  background-color: #e0d9d9;
  position: absolute;
  top: 0;
  z-index: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.first-container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.first-container > .wrapper {
  width: calc(50% - 2rem);
}

.first-container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.first-container .wrapper .btn-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.first-container .wrapper .btn-wrapper button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.first-container .wrapper .title-wrapper,
.first-container .wrapper .btn-wrapper {
  padding-left: 200px;
}

.first-container .wrapper .title-wrapper .title {
  font-size: 3rem;
  line-height: normal;
}

.first-container .wrapper .title-wrapper .subtitle {
  font-size: 2rem;
  line-height: normal;
}

.first-container .wrapper .img-wrapper {
  margin: auto;
}

.first-container .wrapper .img-wrapper img {
  margin-right: 100px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.second-container .wrapper {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.second-container .wrapper .offer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.second-container .wrapper .offer-wrapper .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  background-color: #eee9e9;
  border-radius: 10%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 220px;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.second-container .wrapper .offer-wrapper .card .img-wrapper {
  position: relative;
  height: fit-content;
  bottom: 50px;
  width: 150px;
  margin: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.second-container .wrapper .offer-wrapper .card .img-wrapper .icon-wrapper {
  background-color: #000;
  cursor: pointer;
  position: relative;
  top: 50px;
  left: 110px;
  color: #fff;
  width: fit-content;
  padding: 8px;
  border-radius: 50px 50px 100px 50px;
  -webkit-border-radius: 50px 50px 100px 50px;
  -moz-border-radius: 50px 50px 100px 50px;
  -ms-border-radius: 50px 50px 100px 50px;
  -o-border-radius: 50px 50px 100px 50px;
}

.offer-wrapper .card .img-wrapper img {
  width: 100%;
}

.line-through {
  text-decoration: line-through;
  font-size: 0.6rem !important;
}

.second-container .wrapper .offer-wrapper .card .main-wrapper {
  padding: 20px;
  position: relative;
  bottom: 50px;
}

.second-container
  .wrapper
  .offer-wrapper
  .card
  .main-wrapper
  .desc-wrapper
  .first-desc {
  font-size: 1rem;
}
.second-container .wrapper .offer-wrapper .card .main-wrapper .desc-wrapper {
  margin-bottom: 20px;
}

.second-container .wrapper .button-wrapper {
  margin-bottom: 20px;
  text-decoration: underline;
  font-size: 1rem;
  cursor: pointer;
}

.second-container .wrapper .button-wrapper:active {
  color: #f44336;
}

/* ASLINYAAAA */
/* .container {
  color: white;
  background: url(https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)
    no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: 0;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

h1 {
  font-size: 4rem;
  width: fit-content;
  height: fit-content;
  line-height: normal;
}

p {
  font-size: 1.2rem;
  width: fit-content;
  height: fit-content;
  line-height: normal;
}

.btn-wrapper {
  display: flex;
  gap: 1.5rem;
}

.btn-wrapper button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  height: 3rem;
  width: 12rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.btn-wrapper button:hover {
  transition: 0.2s;
  scale: 1.1;
  background-color: white;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.first-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.first-container > div {
  width: calc(50% - 0.5rem);
}

.first-wrapper .img-wrapper {
  margin: auto;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.first-wrapper .img-wrapper img {
  width: 100%;
  height: 100%;
}

.second-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.card {
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card .img-card-wrapper {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.card .img-card-wrapper img {
  width: 100%;
}

.img-card-wrapper p {
  position: absolute;
  margin-right: 10px;
  margin-top: 10px;
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-content-wrapper {
  padding: 5px;
}

.card-content-wrapper .card-stroke {
  text-decoration: line-through;
  font-size: 0.8rem;
}

.card-content-wrapper .card-subtitle {
  font-size: 1rem;
} */
