.container {
  width: 100%;
  height: 100%;
  background-color: #e0d9d9;
  position: absolute;
  top: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.first-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.first-container > .wrapper {
  width: calc(50% - 2rem);
}

.first-container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.first-container .wrapper .btn-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.first-container .wrapper .btn-wrapper button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.first-container .wrapper .title-wrapper,
.first-container .wrapper .btn-wrapper {
  padding-left: 200px;
}

.first-container .wrapper .btn-wrapper button:hover {
  transition: 0.4s;
  scale: 1.1;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.first-container .wrapper .title-wrapper .title {
  font-size: 3rem;
  font-weight: 500;
  line-height: normal;
}

.first-container .wrapper .img-wrapper {
  margin: auto;
}

.first-container .wrapper .img-wrapper img {
  margin-top: 50px;
  margin-right: 100px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.second-container .wrapper {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.second-container .wrapper .offer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.second-container .wrapper .offer-wrapper .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  background-color: #eee9e9;
  border-radius: 10%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 220px;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.second-container .wrapper .offer-wrapper .card .img-wrapper {
  position: relative;
  height: fit-content;
  bottom: 70px;
  width: 150px;
  margin: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.second-container .wrapper .offer-wrapper .card .img-wrapper .cart-wrapper {
  background-color: #000;
  cursor: pointer;
  position: relative;
  top: 100px;
  left: 110px;
  color: #fff;
  width: fit-content;
  padding: 8px;
  border-radius: 50px 50px 100px 50px;
  -webkit-border-radius: 50px 50px 100px 50px;
  -moz-border-radius: 50px 50px 100px 50px;
  -ms-border-radius: 50px 50px 100px 50px;
  -o-border-radius: 50px 50px 100px 50px;
}

.second-container
  .wrapper
  .offer-wrapper
  .card
  .img-wrapper
  .cart-wrapper
  button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: white;
}

.second-container .wrapper .offer-wrapper .card .img-wrapper .disc-wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
  position: relative;
  top: 70px;
  right: 10px;
  color: #000;
  width: fit-content;
  padding: 8px;
  border-radius: 50px 50px 100px 50px;
  -webkit-border-radius: 50px 50px 100px 50px;
  -moz-border-radius: 50px 50px 100px 50px;
  -ms-border-radius: 50px 50px 100px 50px;
  -o-border-radius: 50px 50px 100px 50px;
}

.offer-wrapper .card .img-wrapper img {
  width: 100%;
}

.line-through {
  text-decoration: line-through;
  font-size: 0.6rem !important;
}

.second-container .wrapper .offer-wrapper .card .main-wrapper {
  padding: 20px;
  position: relative;
  bottom: 80px;
}

.second-container
  .wrapper
  .offer-wrapper
  .card
  .main-wrapper
  .desc-wrapper
  .first-desc {
  font-size: 1rem;
}
.second-container .wrapper .offer-wrapper .card .main-wrapper .desc-wrapper {
  margin-bottom: 20px;
}

.second-container .wrapper .button-wrapper {
  margin-bottom: 20px;
  text-decoration: underline;
  line-height: normal;
  font-size: 1rem;
  cursor: pointer;
}

.second-container .wrapper .button-wrapper:active {
  color: #f44336;
}
