<div class="container">
  <div class="wrapper">
    <div class="content-wrapper social-wrapper">
      <div class="title-social">
        <h1>ZettaCafe</h1>
      </div>
      <div class="btn-social">
        <div class="title-btn-social">
          <h3>{{ "login.signin" | translate }}</h3>
        </div>
        <div class="btn-btn-social">
          <button mat-raised-button>Instagram</button>
          <button mat-raised-button>Facebook</button>
          <button mat-raised-button>Gmail</button>
        </div>
      </div>
    </div>
    <div class="content-wrapper form-wrapper">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <div class="form-field">
          <mat-form-field appearance="fill">
            <mat-label>{{ "login.email" | translate }}</mat-label>
            <input type="email" matInput formControlName="email" />
            <mat-error *ngIf="loginForm.controls['email'].invalid"
              >Please input correct email!</mat-error
            >
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field appearance="fill">
            <mat-label>{{ "login.password" | translate }}</mat-label>
            <input
              id="password"
              type="password"
              matInput
              formControlName="password"
            />
            <mat-error *ngIf="loginForm.controls['password'].invalid"
              >Please input correct password!</mat-error
            >
          </mat-form-field>
          <mat-checkbox (change)="onShowPassword($event)"
            >Show Password</mat-checkbox
          >
        </div>
        <div class="btn-action">
          <button
            [disabled]="loginForm.invalid"
            mat-raised-button
            color="primary"
          >
            {{ "login.btn-submit" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
