<div class="container">
  <form
    class="first-form"
    [formGroup]="emailForm"
    (ngSubmit)="onGetCode(emailForm.value)"
  >
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="text"
          matInput
          formControlName="email"
          placeholder="Ex: user@user.com"
        />
        <mat-error *ngIf="emailForm.controls['email'].invalid"
          >Please input the field with correct email!</mat-error
        >
      </mat-form-field>
    </div>
    <button
      class="btn-email"
      [disabled]="emailForm.invalid"
      mat-raised-button
      color="primary"
    >
      Get Code
    </button>
  </form>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm.value)">
    <div class="form-field second-form">
      <mat-form-field appearance="fill">
        <mat-label>Verification Code</mat-label>
        <input
          type="text"
          matInput
          formControlName="code"
          placeholder="Ex: 1111"
        />
        <mat-error *ngIf="passwordForm.controls['code'].invalid"
          >Please input the field with correct code!</mat-error
        >
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>New password</mat-label>
        <input
          type="password"
          matInput
          id="newPassword"
          formControlName="password"
        />
        <mat-error *ngIf="passwordForm.controls['password'].invalid"
          >Please input the field with correct password!</mat-error
        >
      </mat-form-field>
    </div>
    <div class="btn-wrapper">
      <mat-checkbox (change)="onShowPassword($event)"
        >Show Password</mat-checkbox
      >
      <div class="btn-actions">
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onClose()"
        >
          Cancel
        </button>
        <button
          [disabled]="passwordForm.invalid"
          mat-raised-button
          color="primary"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
