.container {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.btn-wrapper {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-form {
  margin-top: 1rem;
}

.btn-actions {
  display: flex;
  gap: 1rem;
}
