.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.cards {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 7rem 3rem;
}

.btn-actions {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.btn-actions a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
}

.btn-actions a:hover {
  scale: 1.1;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.btn-actions a:active {
  color: purple;
}
