<div class="container">
  <div>
    <p class="editnih">Add new User</p>
    <div class="form-group">
      <label for="">Full Name</label>
      <!-- <input type="text" [(ngModel)]="newFullName" class="form-control" /> -->
      <input type="text" #fullNameInput class="form-control" />
    </div>
    <div class="form-group">
      <label for="">Nickname</label><br />
      <!-- <input type="text" [(ngModel)]="newNickname" class="form-control" /> -->
      <input type="text" class="form-control" #nickNameInput />
    </div>
    <div class="form-group">
      <label for="">Email</label><br />
      <!-- <input type="email" [(ngModel)]="newEmail" class="form-control" /> -->
      <input type="email" #emailInput class="form-control" />
    </div>
    <div class="form-group">
      <label for="">Username</label><br />
      <!-- <input type="text" [(ngModel)]="newUsername" class="form-control" /> -->
      <input type="text" #userNameInput class="form-control" />
    </div>
    <div class="form-group">
      <br /><button
        [disabled]="!activeButton"
        (click)="onAddNewUser(fullNameInput, emailInput)"
        class="btn btn-primary"
      >
        Add User
      </button>
    </div>
  </div>
</div>
