.container {
  padding-top: 100px;
}

mat-card-actions {
  display: flex;
  margin: 1rem 1rem;
  justify-content: space-between;
  gap: 2rem;
}

mat-card {
  display: flex;
  justify-content: space-between;
}

mat-card img {
  width: 100px;
  height: 100px;
}
