<div class="container">
  <div class="wrapper">
    <div class="wrapper-container">
      <ng-container *ngFor="let recipes of cart">
        <div class="card-container">
          <mat-card *ngFor="let recipe of recipes.menu">
            <div class="card-wrapper">
              <mat-card-header>
                <mat-card-title>{{ recipe.recipe_name }}</mat-card-title>
                <mat-card-subtitle>{{ recipe.amount }} items</mat-card-subtitle>
                <mat-card-subtitle
                  >{{ recipe.discount_price | currency: "Rp. " }} per
                  item</mat-card-subtitle
                >
              </mat-card-header>
              <img [src]="recipe.link_recipe" />
            </div>
            <mat-card-actions align="end">
              <mat-card-subtitle>
                Total:
                {{ recipe.amount * recipe.discount_price | currency: "Rp. " }}
              </mat-card-subtitle>
              <div class="btn-wrapper">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="onEdit(recipe)"
                >
                  Edit
                </button>

                <button
                  mat-raised-button
                  color="warn"
                  (click)="onRemove(recipe)"
                >
                  Remove
                </button>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
        <mat-card-actions class="card-actions">
          <mat-card-title
            >Total Price:
            {{ recipes.total_price | currency: "Rp. " }}
          </mat-card-title>
          <div class="btn-wrapper">
            <button
              mat-raised-button
              color="warn"
              (click)="onCancel(recipes._id)"
            >
              Cancel
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="onCheckOut(recipes._id)"
            >
              CheckOut
            </button>
          </div>
        </mat-card-actions>
      </ng-container>
      <div class="spinner-wrapper">
        <mat-spinner *ngIf="!isLoading" class="spinner"></mat-spinner>
      </div>
      <div class="do-not-have-transactions" *ngIf="cart.length === 0">
        <h1>You do not have any transaction</h1>
      </div>
    </div>
  </div>
</div>
