.container {
  position: absolute;
  z-index: 0;
  top: 0;
  background: url(https://images.pexels.com/photos/4053267/pexels-photo-4053267.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)
    no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.spinner-wrapper {
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 99;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

.wrapper-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 5rem;
}

.wrapper-container button {
  width: fit-content;
  margin-bottom: 1rem;
}

.card-actions mat-card-title {
  color: white;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem 1rem;
}

mat-card {
  width: calc(33% - 0.5rem);
  height: 180px;
}

mat-card img {
  width: 100px;
  height: 100px;
}

mat-card .card-wrapper {
  display: flex;
  margin-left: -0.8rem;
  justify-content: space-between;
}

mat-card-actions {
  display: flex;
  margin: 0 0.1rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

mat-card-actions mat-card-subtitle {
  font-size: 1rem;
}

.do-not-have-transactions {
  text-align: center;
  color: white;
  /* color: whitesmoke; */
}

.spinner-wrapper {
  display: flex;
  width: 94%;
  margin-top: 15rem;
}

mat-spinner {
  margin: auto;
}

.container::-webkit-scrollbar {
  scrollbar-width: 2px;
  scrollbar-color: auto;
}
