<div class="container">
  <div class="first-wrapper">
    <div class="title-container">ZettaCafe</div>
    <div class="subtitle-container">it's not just Food, It's an Experience</div>
    <hr />
  </div>
  <div class="second-wrapper">
    <div class="card-container">
      <div class="card-head">Phone</div>
      <div class="card-main">
        <p class="card-text">
          If you require further support, please contact our Customer
          Information Center on:
        </p>
        <p class="card-highlight">(+62) 888-333-444</p>
        <p class="card-text">
          Our team is available on Monday - Friday, 8am - 5pm JKT Time (except
          public holidays).
        </p>
      </div>
      <div class="card-button">
        <a href="https://wa.me/628888333444" target="_blank">
          <button mat-raised-button color="primary">Start Live Chat</button></a
        >
      </div>
    </div>
    <div class="card-container">
      <form>
        <h2 style="text-align: center">Contact us</h2>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Question</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<!-- ASLINYAAAA -->
<!-- <div class="container">
  <div class="wrapper">
    <div class="title-wrapper">
      <h1 class="title">ZettaCafe</h1>
      <h3 class="subtitle">Feel the taste of Japanese foods</h3>
    </div>
    <div class="btn-card">
      <div class="card">
        <h2 class="card-title">Phone</h2>
        <p class="card-text">
          If you require further support, please contact our Customer
          Information Center on:
        </p>
        <p class="card-highlight">(Area Code) 1500-323</p>
        <p class="card-text">
          Our team is available on Monday - Friday, 8am - 5pm JKT Time (except
          public holidays).
        </p>
      </div>
      <div class="card">
        <h2 class="card-title">Live Chat</h2>
        <p class="card-text">Start a LIVE CHAT with our Support Team below.</p>
        <p class="btn-highlight">
          <a href="https://www.instagram.com/rayhanalkhair/" target="_blank">
            <button mat-raised-button color="primary">Start Live Chat</button>
          </a>
        </p>
        <p class="card-text">
          Hours of operation: Mon - Fri, 10am - 5pm (except Public Holidays)
        </p>
      </div>
      <div class="card">
        <div class="card-permission">
          <p>Admin Permission</p>
          <div class="list-permission">
            <li>&check; Stock Management</li>
            <li>&check; Menu Management</li>
            <li>&check; Cart</li>
          </div>
        </div>
        <div class="card-permission">
          <p>Customer Permission</p>
          <div class="list-permission"><li>&check; Cart</li></div>
        </div>
        <div class="card-permission">
          <p>User/Non-user Permission</p>
          <div class="list-permission">
            <li>&check; Home</li>
            <li>&check; About</li>
            <li>&check; Menu</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
