<div class="container">
  <div class="wrapper">
    <div class="title-wrapper">
      <h1 class="title">ZettaCafe</h1>
      <h3 class="subtitle">Feel the taste of Japanese foods</h3>
    </div>
    <div class="btn-card">
      <div class="card">
        <h2 class="card-title">Phone</h2>
        <p class="card-text">
          If you require further support, please contact our Customer
          Information Center on:
        </p>
        <p class="card-highlight">(Area Code) 1500-323</p>
        <p class="card-text">
          Our team is available on Monday - Friday, 8am - 5pm JKT Time (except
          public holidays).
        </p>
      </div>
      <div class="card">
        <h2 class="card-title">Live Chat</h2>
        <p class="card-text">Start a LIVE CHAT with our Support Team below.</p>
        <p class="card-highlight">
          <button mat-raised-button color="primary">Start Live Chat</button>
        </p>
        <p class="card-text">
          Hours of operation: Mon - Fri, 10am - 5pm (except Public Holidays)
        </p>
      </div>
      <div class="card">
        <div class="card-permission">
          <h6>Admin Permission</h6>
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Menu</li>
            <li>Stock Management</li>
            <li>Menu Management</li>
            <li>Cart</li>
          </ul>
        </div>
        <div class="card-permission">
          <h6>Customer Permission</h6>
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Menu</li>
            <li>Cart</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
