<div class="container">
  <div class="wrapper">
    <div class="table-wrapper">
      <div class="btn-container">
        <button mat-raised-button color="primary" (click)="onAdd()">
          Add New Recipe
        </button>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            Name
            <input
              matInput
              [formControl]="filtername"
              [(ngModel)]="defaultFilter"
              placeholder="Input name ..."
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.recipe_name }}
          </td>
        </ng-container>
        <!-- Stock Column -->
        <ng-container matColumnDef="ingredients">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">
            {{ element.price | currency: "Rp. " }}
          </td>
        </ng-container>

        <!-- Publisher Column -->
        <ng-container matColumnDef="publisher">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field>
              <mat-label>Publisher</mat-label>
              <mat-select (valueChange)="onFilterPublished($event)" name="food">
                <mat-option
                  *ngFor="let food of publisheds"
                  [value]="food.value"
                >
                  {{ food.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-slide-toggle
              matTooltip="Slide for publish or unpublish"
              [checked]="element.published"
              (change)="onPublish($event, element)"
              color="primary"
            >
            </mat-slide-toggle>
          </td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              matTooltip="Edit the recipe"
              mat-raised-button
              [disabled]="element.published"
              (click)="onUpdate(element)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              matTooltip="Delete the recipe"
              mat-raised-button
              [disabled]="element.published"
              (click)="onDelete(element)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [length]="recipesLength"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="[1, 5, 10, 25, 100]"
        aria-label="Select page"
        (page)="pageEvent = indexingPage($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
