<div class="container">
  <mat-dialog-content [formGroup]="stockForm">
    <div class="input-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
        <mat-error *ngIf="stockForm.controls['name'].invalid"
          >Please input correct name!</mat-error
        >
      </mat-form-field>
    </div>
    <div class="input-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Stock</mat-label>
        <input matInput placeholder="Stock" formControlName="stock" />
        <mat-error *ngIf="stockForm.controls['stock'].invalid"
          >Please input correct stock!</mat-error
        >
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="onClose()">Close</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!stockForm.valid"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </mat-dialog-actions>
</div>
