<div class="container">
  <mat-card *ngFor="let book of booksData">
    <mat-card-title>{{ book.name }}</mat-card-title>
    <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
    <mat-card-actions align="end">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/book-details', book.id]"
        (click)="selectBook(book)"
      >
        See Details
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<!-- [routerLink]="[
          '/book-details',
          book.id,
          book.name,
          book.author,
          book.publisher,
          book.publishDate,
          book.img,
          book.desc
        ]" -->
